/*Colors and fonts*/

body {
	background-color: #e1eff0;
	color: #575F7D;
	font-family: 'Lora', serif;
	font-size:17px;
	font-weight: lighter;
}

h1, h2, h3 {
		font-family: Lato ;
		text-align: justify;
		text-align: center;
		margin: 10px		}
}
h1 {
	color:#575F7D;
	font-size:32px;
}
h2 {
	color: #76b5c5;
	font-size:24px;
	font-weight: bold;
}

a {
	text-decoration: none;
	color: #6B72E1;
	font-weight:600;
	font-size: 16px;
}
a:hover {
	color: black;
}


/*Custom design*/
.container{
	width: 700px;
	margin: 40px auto;
}

@media (max-width: 760px) {
	.container {
		width: 600px;
	}
}

@media (max-width: 500px) {
	.container {
		width: 400px;
	}
}

.card-white {
	background-color: white;
	paddling:40px;
	box-shadow: 0px 10px 30px rgba(0,0,0,0.1);
	border-radius: 7px;
	margin: 20px 0px;
	text-align: center;
}
.img-circle {
	border-radius: 50%;
}

.btn-blue {
	background-color: lightblue;
	color: white;
	paddling: 20px 25px;
	border-radius: 5px;
}
.btn-blue:hover {
	background-color: #76b5c5;
	color: white;
}

.list-inline {
	list-style: none;
	paddling-left: 0px;
}
.list-inline li {
	display: inline;
	paddling: 10px;
}
.list-inline i {
	font-size: 50px;
	color: lightblue;
}
.list-inline i:hover {
	color: #76b5c5;
}

#introduction p {
	margin-bottom:40px;
}